
/* Контейнер для контента и футера */
.footerContainer {
    flex-shrink: 0; /* Чтобы футер не сжимался */
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.content {
    flex-grow: 1; /* Контент растягивается на оставшееся пространство */
}

/* Опционально стилизовать изображение футера */
.footerImg img {
    width: 100%; /* Изображение футера занимает всю ширину */
    height: auto;
}
