.otdelContainer{
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: center;
    
    display: flex;
  
}

.otdelTitles{
    text-align: center;
}

.flexImgContainers{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 10px;
}

.imgOtdelContainer{
    max-width: 450px;
    padding: 10px;
    background-color: rgb(234, 236, 238);
}

.imgContainerText{
    width: 240px;
}
.imgContainerText p{
    margin-top: 20px;
    
}